# exclude secrets file, contains creds
secrets.ps1

# exclude the autoload script where i set my $env:path's, etc.
locals.ps1

# exclude any autoload scripts or modules set to be ignored (leading underscore)
_*.ps1
_*.psm1
_*.psd1

# exclude command history file
history.clixml

# exclude powertab config
PowerTabConfig.xml
TabExpansion.xml
